.gallery-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 5px solid gray;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow: hidden;
}

.gallery img {
  width: auto;
  max-height: 300px;
}

.inner-gallery {
  display: flex;
  gap: 5px;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
