#nav-hero {
  background-image: url("../public/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#inner-hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#hero-inky {
  width: 349px;
  height: 705px;
  object-fit: cover;
}

#hero-book-btn {
  &:hover {
    color: #f9f9f9;
    background-color: black;
  }
}
#about-btn {
  &:hover {
    color: black;
    background-color: white;
    border-radius: 4px;
  }
}

.hero-big {
  font-weight: 900;
  font-size: 42px;
  letter-spacing: -3px;
  transform: scaleY(1.4);
  transform: scaleX(1);
}
.hero-long {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  letter-spacing: 1px;
}

#hero-text {
  font-family: "Impact Regular", sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}

#comp-ky2hvz0a {
  width: 134px;
  height: 220px;
  position: absolute;
  margin: 0px 0px -57px calc((100% - 980px) * 0.5);
  left: 471px;
  top: -200px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
  opacity: 1;
}

#testimonials {
  background-image: url("../public/testbg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#about-hero {
  background-image: url("../public/about-hero.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vh;
}

#about,
#book {
  background-color: white;
}

#midbg {
  background-image: url("../public/midbg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  width: 75vw;
}

.about-p1-text,
.about-p2-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.6px;
}

.about-p1-text {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 22.4px;
}

.about-h3 {
  line-height: 31.2px;
  vertical-align: baseline;
  letter-spacing: 4.8px;
  font-size: 19px;
  font-weight: 700;
}
